@font-face {
    font-family: 'Poppins Medium';
    src: url('fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins bold';
    src: url('fonts/Poppins-Bold.ttf') format(truetype);
}
@font-face {
    font-family: 'Poppins light';
    src: url('fonts/Poppins-Light.ttf') format(truetype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(42,42,42,1) ;
}

.regular-font-db{
    font-family: 'Poppins Medium';
}

.light-font-db{
    font-family: 'Poppins light';
}

.color-white-card{
    color: #fff;
}

.line-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-flex-category{
    display: flex;
    align-items: center;
    margin: 24px;
}

.card-center-align{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 350px;
    height: 170px;
    border-radius: 20px;
    margin: 10px;
}

.width-card{
    width: 180px;
}

.time-hora-data-dashboard {
    background: linear-gradient(32deg, rgba(77,38,181,1) 0%, rgb(42, 42, 42) 44%);
    border: 1px solid #4D26B5;
    box-shadow: -15px 32px 49px 0px rgba(76,38,181,0.48);
}

.inscricoes-tempo-dashboard{
    background: linear-gradient(330deg, rgba(77,38,181,1) 0%, rgba(42,42,42,1) 44%);
    border: 1px solid #fff;
    box-shadow: 13px 20px 49px 0px rgba(76,38,181,0.48);
}

.total-inscricoes-dashboard{
    background: linear-gradient(0deg, rgba(77,38,181,1) 0%, rgba(42,42,42,1) 54%);
    border: 1px solid #4D26B5;
    box-shadow: 0px 35px 49px 0px rgba(76,38,181,0.48);
}

.hora-time-set{
    font-size: 70px;
}

.data-dias-fim {
    font-size: 40px;
    line-height: 100%;
    width: 120px;
}

.day-size-name{
    font-size: 24px;
}

.total-number-name{
    font-size: 30px;
}

.inicio-data, .fim-data {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.total-insc-num, .today-insc-num{
    display: flex;
    flex-direction: column;
}

main{
    margin: 10px;
    display: flex;
}

select {
    background: #2A2A2A;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px;
    color: white;
    font-family: 'Poppins light';
}

input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 20px;
}

.ordem-category-pd{
    margin: 5px;
}

.table-resultados-cadastos table{
    text-align: left;
    width: 100%;
    color: #fff;
}

th{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

td{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gray;
}

header{
    float: left;
    height: 100vh;
}

.box-table-right {
    display: block;
    width: 97.5%;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 10px;
}

nav {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    height: inherit;
    margin: 10px 10px 20px 10px;
}

nav ul{
    list-style: none;
    font-family: 'Poppins light';
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    height: 100%;
}

li{
    margin: 15px auto;
}

li:hover{
    color: grey;
    border-left: 2px solid #4D26B5;
}

.box-navegation-left {
    height: 100%;
}

.logo-home-dash{
    font-family: 'Poppins light';
    border: 1px solid #fff;
    border-radius: 20px;
    width: 300px;
    height: 170px;
    padding: 20px;
    color: white;
    margin: 10px 10px 20px 10px;
}

.linha-centro {
    display: flex;
}

.lado-02 {
    display: flex;
    flex-direction: column;
    width: 100%;
}